body {
    background-color: black;
}

.email-form {
    background-color: white;
    margin-top: 50px;
    padding: 5px 5px 5px 5px;
    width: 300px;
    border-radius: 25px;
    align-items: center;
}

.header {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.header li {
    display: inline;
}

.header a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    background-color: grey;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    background-color: grey;
}

.aboutPage_Text1 {
    color: white;
    width: 100%;
    margin-top: -230px;
    margin-left: -380px;
    list-style: none;
    padding: 10px;
}

.aboutPage_Text2 {
    color: white;
    width: 100%;
    margin-top: -725px;
    margin-left: -70px;
    list-style: none;
    padding: 10px;
}

.aboutPage_Text2 li {
    text-decoration: underline;
}

.aboutPage_Text3 {
    color: white;
    width: 100%;
    margin-top: -620px;
    margin-left: 230px;
    list-style: none;
    padding: 10px;
}

.aboutPage_Text3 li {
    text-decoration: underline;
}

/* Images for various pages below */

.language_images {
    position: absolute;
    margin-top: -150px;
    margin-left: 990px;
}

.landing_Imgs {
    margin-top: -10px;
    margin-left: -350px;
}

.reactLogoPlacement {
    position: absolute;
    margin-top: -570px;
    margin-left: 190px;
}

.jsLogoPlacement {
    position: absolute;
    margin-top: -590px;
    margin-left: -5px
}

.nodeLogoPlacement {
    position: absolute;
    margin-top: -610px;
    margin-left: 30px;
}

.htmlLogoPlacement {
    position: absolute;
    margin-top: -410px;
    margin-left: -25px;
}

.cssLogoPlacement {
    position: absolute;
    margin-top: 85px;
    margin-left: 930px;
}

.devOpsLogoPlacement {
    position: absolute;
    margin-top: 80px;
    margin-left: 1100px;
}

.kubernetesLogoPlacement {
    position: absolute;
    margin-top: 260px;
    margin-left: 1110px;
}

.JavaLogoPlacement {
    position: absolute;
    margin-top: 260px;
    margin-left: 1260px;
}

.CSharpLogoPlacement {
    position: absolute;
    margin-top: 420px;
    margin-left: 1110px;
}

.AWSLogoPlacement {
    position: absolute;
    margin-top: 420px;
    margin-left: 1270px;
}

.innerFormContainer h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.outer_container_contact h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.linked_container {
    position: relative;
}

/* GitHub Link CSS */

/* .GitHubs {
    background-color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.GitHubs a:hover {
    background-color: grey;
    text-decoration: underline;
}

.GitHubs a:active {
    text-decoration: underline;
    background-color: grey;
} */